<%- include('partials/_header') %>

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/piedemanzana.jpg" alt="Un delicioso pie de manzana." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Con El Pie Derecho</h1>
            <p id="mensaje">Nuestro menú es nuestra especialidad. Horneando tartas con el amor y dedicación que usted merece desde 1932, ofrecemos una amplia variedad en sabores, rellenos, texturas, y tamaños, pensando en los gustos y necesidades que podria tener.</p>
            <a class="btn btn-primary" href="#!">¡Quiero realizar un pedido!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Ofrecemos un servicio especializado en base a sus necesidades. Eliga el tipo de enfoque que le gustaria recibir.</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Disfrutador de Tartas</h2>
                    <p class="card-text">¿Buscas saciar tu hambre de tartas? Realiza un pedido sencillo. ¿Quieres compartir la belleza de las tartas? Tambien ofrecemos atención a eventos como bodas, cumpleaños, y más. Conoce nuestros paquetes.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">¡Quiero conocerlos!</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Entusiasta de las Tartas</h2>
                    <p class="card-text">¿Tu amor por las tartas va más alla? Nuestra atención para tí tambien. Un servicio enfocado a negocios de todos los tipos. Consulta más detalles a continuación.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Más información.</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Amante de las Tartas</h2>
                    <p class="card-text">Cada detalle importa: Desde el tamaño y forma exacta, hasta la innovación en sabores y colores. Atención personalizada desde pies a cabeza.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">¡AMO LAS TARTAS!</a></div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>